04-Automatización_MCP-n8n-claude-para-Analisis_de_Facturas/Tool-Consultar_Factura.json
{
  "name": "Tool - Consultar Facturas",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "43df0e5b-befb-4639-bd3d-ebb2b44802d8",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -672,
        16
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -464,
        16
      ],
      "id": "8a2d7e6c-ab84-4094-9562-c7870e4a3a2d",
      "name": "Get many databases"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1766fa05-6d13-4c53-9d1f-6af569866e5a",
              "leftValue": "=={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        16
      ],
      "id": "9aca8c31-aae6-45e1-b910-9f062851937d",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst facturas = items.map(item => {\n  // Accedemos de forma segura a las propiedades\n  const props = item.json.properties || {};\n  \n  return {\n    proveedor: props[\"numero de factura\"]?.title?.[0]?.plain_text || \"N/A\",\n    fecha: props[\"Fecha factura\"]?.date?.start || \"N/A\",\n    subtotal: props[\"Subtotal\"]?.number || 0,\n    impuestos: props[\"Impuestos\"]?.number || 0,\n    total: props[\"Total\"]?.number || 0,\n    moneda: props[\"Moneda\"]?.select?.name || \"COP\",\n    estado: props[\"Estado\"]?.select?.name || \"N/A\"\n  };\n});\n\nconst resumen = {\n  total_facturas: facturas.length,\n  suma_total: facturas.reduce((acc, f) => acc + f.total, 0),\n  facturas: facturas\n};\n\nreturn [{\n  json: {\n    response: JSON.stringify(resumen, null, 2)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "b7642016-2df8-4a05-8ff9-d9ce6482587d",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get many databases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many databases": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5104a0a8-d2f5-443e-9bfb-d701b7bddaa7",
  "meta": {
    "instanceId": "e67dff3a5e90d9d4fd0c010e76777e0d5dbc4e1705295c9442faeebaf7c782c7"
  },
  "id": "jAROmSefoyRsorQX",
  "tags": []
}