04-Automatización_MCP-n8n-claude-para-Analisis_de_Facturas/Tool-Guardar_Notion.json
{
  "name": "Tool- Guardar Notion",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "889913d4-6f19-4db8-8697-6f72360c6405",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -576,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parsear los datos de la factura que envía Claude\nconst input = $input.first().json.query;\nlet data;\n\ntry {\n  data = JSON.parse(input);\n} catch (e) {\n  // Si no es JSON válido, intentar extraer datos del texto\n  data = {\n    proveedor: input,\n    numero_factura: \"No especificado\",\n    fecha: new Date().toISOString().split('T')[0],\n    subtotal: 0,\n    impuestos: 0,\n    total: 0,\n    moneda: \"COP\",\n    items: \"No especificado\",\n    estado: \"Pendiente\"\n  };\n}\n\nreturn [{\n  json: {\n    proveedor: data.proveedor || \"No especificado\",\n    numero_factura: data.numero_factura || \"No especificado\",\n    fecha: data.fecha || new Date().toISOString().split('T')[0],\n    subtotal: parseFloat(data.subtotal) || 0,\n    impuestos: parseFloat(data.impuestos) || 0,\n    total: parseFloat(data.total) || 0,\n    moneda: data.moneda || \"COP\",\n    items: typeof data.items === 'object' \n      ? JSON.stringify(data.items) \n      : String(data.items || \"No especificado\"),\n    estado: data.estado || \"Pendiente\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        48
      ],
      "id": "ae4d1c45-d05c-4658-bee6-a9af2ebae360",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "33ddf010-929f-8076-8382-f0da01d8a2cb",
          "mode": "list",
          "cachedResultName": "33ddf010-929f-8076-8382-f0da01d8a2cb",
          "cachedResultUrl": "https://www.notion.so/33ddf010929f80768382f0da01d8a2cb"
        },
        "title": "={{ $json.proveedor }}",
        "simple": "=",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "proveedor |title",
              "title": "={{ $json.proveedor }}"
            },
            {
              "key": "Fecha factura|date",
              "includeTime": false,
              "date": "={{ $json.fecha }}"
            },
            {
              "key": "numero de factura|rich_text",
              "textContent": "={{ $json.numero_factura }}"
            },
            {
              "key": "Subtotal|number",
              "numberValue": "={{ $json.subtotal }}"
            },
            {
              "key": "Impuestos|number",
              "numberValue": "={{ $json.impuestos }}"
            },
            {
              "key": "Total|number",
              "numberValue": "={{ $json.total }}"
            },
            {
              "key": "Moneda|select",
              "selectValue": "={{ $json.moneda }}"
            },
            {
              "key": "Items|rich_text",
              "textContent": "={{ $json.items }}"
            },
            {
              "key": "Estado|select",
              "selectValue": "={{ $json.estado }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "5fe88357-55aa-4aec-ad3e-d471cc9ca636",
      "name": "Create a database page"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "{\"proveedor\": \"Corhuila Insumos\", \"numero_factura\": \"FACT-2026\", \"fecha\": \"2026-04-10\", \"total\": 85000, \"moneda\": \"COP\", \"estado\": \"Pendiente\"}"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2a256e31-558a-4c80-8974-0d31554a74cc",
  "meta": {
    "instanceId": "e67dff3a5e90d9d4fd0c010e76777e0d5dbc4e1705295c9442faeebaf7c782c7"
  },
  "id": "h7Mo0SRvesmoJKPV",
  "tags": []
}